html, body{
  height:100%;
}

body {
  @include sans-serif ();
  font-size: 14px;
  color:#000;
  overflow-x: hidden !important;
}

.btn-blue-main {
    color: white;
    background-color: $blue-main;
    border-color: $blue-main;

    &:hover, &:focus{
      color: white;
      text-decoration: underline;
    }
}