$yellow-main: #f1cb3f;
$yellow-darker: #b79105;

$blue-main: #464e70;
$purple-footer: #464672;

$gray-main: #AEAEAE;

.spacing{
  padding-bottom:10px;
}

.yellow-main{
    color: $yellow-main;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

.font-italic {
    font-style: italic !important;
}

.font-8 {
    font-size: 8px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-26 {
    font-size: 26px;
}

.font-30 {
    font-size: 30px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size: 40px;
}

.font-46 {
    font-size: 46px;
}

.font-50 {
    font-size: 50px;
}