
$max: 72;
$step: 1;

@for $size from 0 through ceil($max/$step) {
  .mb-#{$size*$step} { margin-bottom: #{$size*$step}px; }
  .mr-#{$size*$step} { margin-right: #{$size*$step}px; }
  .ml-#{$size*$step} { margin-left: #{$size*$step}px; }
  .mt-#{$size*$step} { margin-top: #{$size*$step}px; }
}

@for $size from 0 through ceil($max/$step) {
  .pb-#{$size*$step} { padding-bottom: #{$size*$step}px; }
  .pr-#{$size*$step} { padding-right: #{$size*$step}px; }
  .pl-#{$size*$step} { padding-left: #{$size*$step}px; }
  .pt-#{$size*$step} { padding-top: #{$size*$step}px; }
}

@import "bootstrap/bootstrap-sprockets.scss";
@import "bootstrap/bootstrap";
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'base';

@import 'material-icons';
@import 'website/includes';
@import 'website/home';
@import 'website/institucional';
@import 'website/products';
@import 'website/modal';

body{
  padding-top: 30px;
}

.home, .institucional, .products{
  .carousel{
    .carousel-control{
      .material-icons{
        margin-top: 250px;
      }
    }
  }


  .box-services{
    margin: -150px 0 30px 150px;


    .box-blue, .box-yellow{
      width: 200px;
      height: 200px;
      float: left;
      padding: 15px;

      h2{
        font-size: 14px;
        font-weight: 700;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin: 10px 0;
      }

      p{
        font-size: 10px;
        font-weight: 400;
      }
    }
    .box-blue{
      background-color: $blue-main;
      p{
        color: white;
      }
    }

    .box-yellow{
      background-color: $yellow-main;
      p{
        color: $blue-main;
      }
    }
  }
}