.navbar-top{
  .navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 12px;
    color: $blue-main;
    font-weight: 600;

    &:hover, &:focus{
      outline: none;
      background-color: $yellow-main;
    }
  }
}

.navbar-toggle {
  .icon-bar{
    background-color: #525252;
  }
}

.nav-submenu{
  background-color: rgba(0,0,0,0.3);

  .navbar-brand{
    margin-top: -98px;
  }

  .navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 400;

    &:hover, &:focus{
      outline: none;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.footer{
  .purple-strip{
    background-color: $purple-footer;
    color: white;
    padding: 30px 0;
    text-align: center;
  }
  .tel-footer{
    color: $yellow-main;
    font-weight: 700;
  }
  .list-ans{
    text-align: center;
    color: $gray-main;
    font-size: 12px;
    font-weight: 600;
    li{
      a{
        color: $gray-main;
        &:hover, &:focus{
          text-decoration: underline;
        }
      }
      &:nth-child(2){
        &::before, &::after{
          content: '|';
          margin: 0 15px;
        }
      }
    }
  }
  .copyright{
    text-align: center;
    font-size: 10px;
    color: #CCC;
  }
}