#accessPages{
  .modal-header{
    border-bottom: none;
  }
  .modal-body{
    padding: 15px;

    .title{
      margin-top: 20px;

      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      color: $blue-main;

      img{
        padding-right: 15px;
      }
    }
    .blue-text{
      font-size: 14px;
      font-weight: 400;
      color: $blue-main;
      margin-top: 15px;
    }

    .form-group{
      margin-bottom: 0;
    }
    .input-group-addon {
      padding: 0;
      background-color: transparent;
      border: none;
      vertical-align: top;
    }
    .form-control{
      border:none;
    }
  }
}