.news{
  .title{
    color: $blue-main;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;

    img{
      padding-right: 10px;
    }
  }
  p{
    color: $gray-main;
  }
  .blue-text{
    color: $blue-main;
    font-weight: 600;
  }
  .thumbnail{
    border: none;
    background-color: #f9f9f9;

    .caption{
      padding: 45px;

      h3{
        font-size: 20px;
        font-weight: 600;
        color: $blue-main;
        text-transform: uppercase;
      }
    }
  }
}